body{
    background-color: rgb(241, 241, 241);
}


h1{
     text-align: center;
     font-size: 40;
     font-family: 'Trebuchet MS', sans-serif;
     color:brown
}

p{
     text-align: center; 
     font-size: 40;
     font-family: 'Trebuchet MS', sans-serif;
     color:rgb(29, 39, 230)
}
div1{
     text-align: center;
}